




.more{
    background-color: #000;
    display: flex;
    position: relative;
    justify-content: space-between;

}
.reasons{
    position: absolute;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-top: 55px;
    margin-left: 100px;

}
.card-Text {
    position: absolute;
display: grid;

   
 
    width: 300px;
    height: 230px;
  
    margin-top: 100px;
    margin-left: 100px;
    margin-right:10px ;

    padding: 30px;
    border-radius: 10px;

    position: relative;
   background: linear-gradient(149deg,#192247 0%,#210e17 99.08%
                ); ;
             
                

}
.card-Text h1{
    font-size: 15px;
    
    color: #fff;
}
.card-Text p{
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}
.card-reasons img{
  padding: 2px;
  margin-left: 160px;
  margin-top: 0px;
  width: 20% !important;
}